@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./styles/root-style.scss";
@import "./styles/key-frames.scss";
@import "./styles/custom-classes.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  position: relative;
  min-height: 100vh;
  background-color: var(--body-background-color);
  scroll-behavior: smooth;
}

/* Style for the scroll bar */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
  height: 3px;
}

/* Track (the area on which the thumb rests) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the handle */
}
